<a href="https://colab.research.google.com/github/fazer1929/100DaysOfCode_Python/blob/main/02_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

In [23]:
cd '/content/drive/MyDrive/GS_ML_CODE'

/content/drive/MyDrive/GS_ML_CODE

## Importing Libraries

In [24]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import os

## Reading Data

In [26]:
mathData = pd.read_csv('student-mat.csv',sep=";")

In [27]:
print(mathData.tail())
print(mathData.school.unique())

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[5 rows x 33 columns]
['GP' 'MS']

## Data Processing

In [28]:
# Changing Categorical Data
mathData['school'] = mathData['school'].apply({'GP':1,'MS':1}.get)
mathData['sex'] = mathData['sex'].apply({'F':1, 'M':2}.get)
mathData['address'] = mathData['address'].apply({'U':1, 'R':2}.get)
mathData['higher'] = mathData['higher'].apply({'yes':1, 'no':2}.get)


#multi-valued
mathData['Mjob'] = mathData['Mjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)
mathData['Fjob'] = mathData['Fjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)
print(mathData.head(15))

    school  sex  age  address famsize  ... health  absences  G1  G2  G3
0        1    1   18        1     GT3  ...      3         6   5   6   6
1        1    1   17        1     GT3  ...      3         4   5   5   6
2        1    1   15        1     LE3  ...      3        10   7   8  10
3        1    1   15        1     GT3  ...      5         2  15  14  15
4        1    1   16        1     GT3  ...      5         4   6  10  10
5        1    2   16        1     LE3  ...      5        10  15  15  15
6        1    2   16        1     LE3  ...      3         0  12  12  11
7        1    1   17        1     GT3  ...      1         6   6   5   6
8        1    2   15        1     LE3  ...      1         0  16  18  19
9        1    2   15        1     GT3  ...      5         0  14  15  15
10       1    1   15        1     GT3  ...      2         0  10   8   9
11       1    1   15        1     GT3  ...      4         4  10  12  12
12       1    2   15        1     LE3  ...      5         2  14  14  14
13       1    2   15        1     GT3  ...      3         2  10  10  11
14       1    2   15        1     GT3  ...      3         0  14  16  16

[15 rows x 33 columns]